@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is a top secret</h1>
<h2>Bigman @User.Identity.Name</h2>
<ul>
    @foreach(var c in User.Claims)
    {
        <li>@c.Type : @c.Value</li>
    }
</ul>